<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head>
        {% load staticfiles %}
        <title> {{ title }} </title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.css' %}" />
        <link rel="stylesheet" href="{% static 'jquery-ui/smoothness.css' %}" />
        <link rel="stylesheet" href="{% static 'datetimepicker-master/build/jquery.datetimepicker.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css.css' %}" />
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header navbar-left">
                <a class="navbar-brand" href="/">TODO List</a>
            </div>
            <div class="collapse navbar-collapse">
                {% if useremail %}
                    <ul class="nav navbar-header navbar-right logout">
                        <li>
                            <form action='/logout/' method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="log_out" name="log_out" />
                                <input type="submit" class="form-control" value="Log out" />
                            </form>
                        </li>
                    </ul>
                    <ul class="nav navbar-header navbar-right email">
                        <li class="active">
                            {{ useremail }}
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-header navbar-right email">
                        <li class="active">
                            <a href="/registration/">Sign up!</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% include "scripts.html" %}
    </body>
</html>
