{% load staticfiles %}
{% block list_notes %}
    <table class="table js-table">
    {% for note in note_list %}
            <tr class="js-tr">
                <td class="col-md-1">
                    <form method="POST" class="js-do_undo" action="/list/do_undo-nojs/">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ note.pk }}" />
                        <input type="checkbox" name="done" {% if note.is_done %}checked="true"{% endif %} class="form-control js-do_undo" />
                        <noscript><input type="submit" value="Confirm!" class="form-control" /></noscript>
                    </form>
                </td>
                <td class="col-md-3 td-padding">
                    <p class="note-{% if note.is_overtimed %}overtimed{% else %}normal{% endif %} {% if note.is_done %}note-done{% endif %} js-note_deadline">{{ note.deadline }}</p>
                </td>
                <td class="col-md-7 td-padding">
                    <p class="note-{% if note.is_overtimed %}overtimed{% else %}normal{% endif %} {% if note.is_done %}note-done{% endif %} js-note_text">{{ note.text }}</p>
                </td>
                <td class="col-md-1 td">
                    <form method="POST" action="list/delete-nojs/" class="js-delete">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ note.pk }}" />
                        <input type="submit" class="form-control" value="Delete" />
                    </form>
                </td>
            </tr>
    {% empty %}
    </table>
        <hr />
        <p class="text-center"><i>There is no notes yet.</i></p>
    {% endfor %}
{% endblock list_notes %}
